<section>
    <h2 data-bind="text: header"></h2>
    <p data-bind="html:description"></p>
    <div class="row">
        <!-- ko foreach: games -->
            <div class="col-sm-4">
      
                <div class="panel panel-default">
                    <div class="panel-thumbnail"><img src="http://placesheen.com/450/300" data-bind="
                    attr: {
                        src: $data.image
                    }" class="img-responsive"
                    style="
                    width:100%"></div>
                    <div class="panel-body">
                    <p class="lead" data-bind="text: $data.name"></p>
                    <p>50 Participants, 25 Volunteers</p>

                    <p>
                      <img src="http://placekitten.com/g/28/28" height="28px" width="28px">
                      <img src="http://placesheen.com/28/28" height="28px" width="28px">
                    </p>
                  </div>
                </div>

                
      </div>
        <!-- /ko -->
    </div>
</section>